
.print-container,
.print-container-a4{
	margin: 0 auto;
	background-color: #fff;
	overflow: auto;
	height: 100vh;
}
.print-container-a4{
	width: 280mm;
	padding-top: 20px;
}
.print-container{
	width: 210mm;
	padding-top: 10px;
}
.print-btn {
	text-align: right;
}
.btn{
	padding: 7px 10px;
	border-radius: 3px;
	background-color: #fff;
	color: #999;
	box-shadow: none;

}
.print-content{
	width: 100%;
	
	// overflow: hidden;
}
@media print{

	/*隐藏不打印的元素*/
	.print-btn{
		display:none;
	}
	.print-container,.print-container-a4{
		width: 100%;
		padding: 10px;
		margin: 0 auto;
	}
	.print-container{
		size: A5 landscape;  
	}
	.print-container-a4{
		size: A4 landscape;  
	}

	 @page{
    margin: 0 auto;
    padding: 0;
  }
}