@bgc:rgba(0, 0, 0, .5);
.btn-bgc{
	background-color: #fff;
}
.img-viewer{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	// padding: 5px 5px 50px 5px;
	overflow: hidden;
	display: none;
	// transition: all 1s;
	&.show{
		display: block;
	}
	.close{
		position: absolute;
		right: -40px;
		top: -40px;
		font-size: 20px;
		color: #ddd;
		cursor: pointer;
		background-color: @bgc;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		overflow: hidden;
		&:hover{
			color:#fff;
		}
		i{
			position: absolute;
			bottom: 15px;
			left: 15px;
		}
	}
	.main-img{
		background-color: transparent;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		img{
			cursor: grab;
			visibility: visible;
			background-color: #f1f1f1;
			// width: 50%;
			// height: 50%;
			// transform: translate(50%,50%);
			&.viewer-transition{
				transition: all .3s;
			}
		}
	}
	.loading{
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		i{font-size: 36px;}
	}
	.tooltips{
		position: absolute;
		height: 20px;
		line-height: 20px;
		width: 100%;
		left: 0;
		bottom: 60px;
		color: #ddd;
		text-align: center;
		font-size: 16px;
		span{
			margin-left: 15px;
		}
	}
	.tools{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 10px;
		i{
			display: inline-block;
			background-color: @bgc;
			margin: 0 10px;
			width: 30px;
			line-height: 30px;
			cursor: pointer;
			font-size: 20px;
			color: #ddd;
			border-radius: 50%;
			&:hover{
				color: #fff;
			}
			&.disable{
				color: rgba(153, 153, 153, 0.7);
				cursor: not-allowed;
				&:hover{
					color: rgba(153, 153, 153, 0.7);
				}
			}
			&.real-size{
				&:before{
					content: '1:1';
				}
			}
			&.cis-rotate{
				transform: rotate(90deg);
			}
			&.reverse-rotate{
				transform: rotate(90deg) scale(1,-1);
			}
			&.reverse-flip{
				transform:rotate(45deg);
			}
			&.cis-flip{
				transform:rotate(-45deg);
			}
		}
		
	}
}