<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_278049_f7vp3psmz0lo9a4i.css">
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="root"></div>
  <% if(process.env.NODE_ENV !== 'production'){ %>
  <script src="roadhog.dll.js"></script>
	<% } %>
  <script type="text/javascript">
    window.onload=function(){
      var scriptList=document.querySelectorAll('script');
      if(scriptList && scriptList.length){
        var indexSrc='';
        scriptList.forEach(item=>{
          if(item.src && item.src.indexOf('/index.')){
            indexSrc=item.src;
            // break;
          }
        });
        if(indexSrc){
          var _ls=JSON.parse(localStorage.getItem('_oa_version_'));
          if(!_ls || (_ls && _ls.data && _ls.data!==indexSrc)){
            var version={data:indexSrc}
            localStorage.setItem('_oa_version_',JSON.stringify(version));
            var _url=location.origin+location.pathname+'?v='+Math.random();
            window.location.replace(_url);
            return;
          }
        }
      }
    }
  </script>
</body>

</html>
