<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_278049_ng1frhd3s4te29.css">
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>

<body>
  <div id="root"></div>
  <% if(process.env.NODE_ENV !== 'production'){ %>
  <script src="roadhog.dll.js"></script>
	<% } %>
</body>

</html>
