.contanier{
  font-family: '黑体';
  width: 100%;
  .table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    overflow: hidden;
    border: 0;
    padding: 0;
    border-top: 1px solid #555;
    border-left: 1px solid #555;

    td{
      word-break: break-all;
      padding: 6px 8px;
      border-right: 1px solid #555;
      border-bottom: 1px solid #555;
    }
  }
  .header{
    text-align: center;
    h1{
      font-family: inherit;
      font-size: 22px;
    }
    p{
      text-align: right;
      font-size: 10px;
    }
  }
  .footer{
    width: 100%;
    display: flex;
    span{
      flex:1;

    }
  }

}